---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import url(https://fonts.googleapis.com/css?family=Raleway:800italic);
@import url(https://fonts.googleapis.com/css?family=Lato);

$serif-font-family: 'Raleway', sans-serif;
$sans-font-family :'Lato', sans-serif;

$base-font-family: $sans-font-family;
$title-font-family: $serif-font-family;

$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
//$brand-color:      #ef34a3; //#2a7ae2;
//$brand-color:      #1463bf;
$brand-color: #555555;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$title-link-color: blue; //#23deb2;

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;


@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "syntax-highlighting"
;

.blogpost-thumbnail{
        display:block; padding:1em; margin:1em;
}

ul.tags{display:inline-block; padding:0; margin: 0;}
ul.tags > li{display:inline-block; padding:0; margin:0}


a, u{text-decoration: underline;
     //text-shadow: 2px 2px 0px red;
     }

     a:hover {text-decoration: none;}

.timestamp, .tags > li > a{display: inline-block; background:#aaa; color:white; font-size:0.7em; border-radius: 2px; padding: 0 3px; text-shadow:none; text-decoration:none;
font-family: $sans-font-family; font-weight:bold;}
.tags > li > a{background: $brand-color;}

//h2 > a {color: black; }

pre, code {border: 1px solid silver;}
p > code {padding-left: 0; padding-right: 0; border-style: dotted;}
 #A {text-align:center;
 //border-bottom: 3px double #eaeaea; border-top: 3px double #eaeaea
 }

div.home > h1{text-align:left; font-size: 1.1em}

h1,h2,h3,h4,h5,h6{
        font-family: $title-font-family;
        font-weight:bold;
}

body div#main{display:block; width:auto; box-sizing: content-box;
              max-width:640px;
              min-width: 320px;
              margin:auto; padding: 0.5em 1em}

footer>nav >a, #A nav.M > a{
  display:inline-block; margin:1em; text-decoration:underline;
  text-align:center; font-weight:bold;
}


nav.tag-cloud{font-style:italic; text-align:center;}

table.features{border-spacing:0; border-collapse:collapse; white-space:nowrap}
table.features td, table.features th{border:1px solid silver;}
table.features td.bool.t{background: #afb;}
table.features td.bool.f{background: #fba;}
table.features *.c{text-align:center}
table.features *.sm{font-size: 0.8em}
table.features th.z, table.features td.z{border: 0; background: transparent}

table.features td:first-child{text-align:right; padding-right: 2px; border-style: dotted}

a.fill {display: inline-block; background: $brand-color; padding: 0.5em 1em; text-align:center; color: white;
font-weight:bold;}
a.outline {display: inline-block; border: 6px double $brand-color; padding: 0.5em 1em; text-align:center;
color: $brand-color; text-decoration: none; font-weight:bold}

h1>a, h2>a, h3>a, h4>a, a.b{color: $title-link-color;}

ul.posts > li{display:block; padding:0; margin:0}
ul.posts{display:block; padding:0; margin:0}

.gr{position:relative; display:flex;flex-direction:row; align-items:stretch; align-content:stretch; flex-wrap:wrap;}
.gr > *:first-child {flex:3 3 auto; box-sizing: content-box; position:relative; display:inline-block;}
.gr > *:last-child  {flex: 6 6 auto; box-sizing: content-box; position:relative; display:inline-block;}
.gr > *{margin: 4px;}

span.timestamp {
                    text-align:right;
         background: transparent; color: #999;
         padding:0; margin: 1em 0.5em;
}

.r{text-align:right;}

ul.posts > li > a {font-family: $title-font-family;}

*.border{background:transparent; border: 2px solid #ddd; padding: 8px}
a.border{border-color: $title-link-color; color: $title-link-color; }

.rss{font-weight: bold; line-height: 4em; text-align:center;}
