---
layout: default
---

<div class="home">
  <h1>Projects</h1>
  <div>
    <a href="https://stencil.erdos.dev/">Stencil</a> | 
    <a href="https://sphere.erdos.dev/">Spherical Geometry</a>
  </div>
  <br/>

  <h1>Posts</h1>
  <ul class="posts">
    {% for post in site.posts %}
    <li class="gr">
      <div><span class="timestamp r">{{ post.date | date: "%b %-d, %Y" }}</span></div>
      <a href="{{post.url}}" class="b">{{post.title}}</a>
    </li>
    <!--{% include enum_post.html %}-->
    {% endfor %}
  </ul>
</div>
