---
layout: default
---

<div class="home">
  <br/>
  <nav class="tag-cloud">
    Tags:
    {% for tag in site.tags %}
    &nbsp;
    <a
       style="font-size: {{ tag | last | size | times: 100 | divided_by: site.tags.size | plus: 70  }}%"
       class="post-tag"
       href="/tag/{{ tag | first | slugize }}">
      {{ tag | first }}</a>
    {% endfor %}
  </nav>
  <br/>
  <nav class="tag-cloud" style="text-align:center;">
    Feed: &nbsp; <a href="{{ "/feed.xml" | prepend: site.baseurl }}" class="fill">RSS</a>
  </nav>
  <br/><br/>
  <h1>Posts</h1>
  <ul>
    {% for post in site.posts %}
    <span class="timestamp to-left">{{ post.date | date: "%b %-d, %Y" }}</span>
    <h2><a href="{{post.url}}">{{post.title}}</a></h2>
    <!--{% include enum_post.html %}-->
    {% endfor %}
  </ul>
</div>
